.main {
	float:left;
	display:none;
	width: 300px;
	height: 300px;
	background-color: green;
	margin-right: 50px;
	margin-bottom: 50px;
	position:relative;
}

.main img {
	display:none;
	width:100%;
	max-width:100%;
	height:auto;
}

.loader {
	display:block;
	width:50%;
	margin:0 auto;
	background-color:yellow;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.mrki {
	display: block;
	width: 100px;
	height: 100px;
	background: red;
}
button {
	display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}